@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');


:root{
  --color1: #000000;
  --color2: #ffffff;
  --color3: #c1121f;
  --color4: #ff0a54;
  --color5: #ff477e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page{
  width: 100vw;
  height: 100vh;
  position: relative;
  color: var(--color2);
  background-color: var(--color1);
}

.landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.title{
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.subtitle{
  font-size: 30px;
}
.landingbuttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linkbutton{
  color: var(--color2);
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.linkbutton svg{
  width: 24px;
  height: 24px;
}
.linkbutton:hover{
  color: var(--color4);
}
.astro{
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  place-items: center;
  height: 75vh;
  grid-template-areas: 
  'image title'
  'image description';
}
.imgwrapper{
  width: 100%;
  height: 100%;
  position: relative;
  grid-area: image;
}
.astrotitle{
  font-size: 45px;
  grid-area: title;
}
.astrodescription{
  padding: 0px 30px;
  font-size: 25px;
  grid-area: description;
}