@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');


:root{
  --color1: #000000;
  --color2: #ffffff;
  --color3: #c1121f;
  --color4: #ff0a54;
  --color5: #ff477e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page{
  width: 100vw;
  height: 100vh;
  position: relative;
  color: var(--color2);
  background-color: var(--color1);
}

.landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.title{
  font-size: 60px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.subtitle{
  font-size: 30px;
}
.landingbuttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.linkbutton{
  color: var(--color2);
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.linkbutton svg{
  width: 24px;
  height: 24px;
}
.linkbutton:hover{
  color: var(--color4);
}
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.astro{
  display: grid;
  grid-template-rows: 12.5vh 1fr;
  grid-template-columns: 1fr auto 1fr;
  position: relative;
  column-gap: 30px;
  width: 100vw;
  height: 100vh;
  grid-template-areas: 
  'title title title'
  'smallerimg biggerimg description'
}
.imgbackground{
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
}
.big{
  grid-area: biggerimg;
  animation: fade 1s linear;
  justify-content: center;
}
.small{
  grid-area: smallerimg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.small>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.astrotitle{
  animation: fade 1s linear;
  padding: 0px 50px;
  font-size: 45px;
  text-align: center;
  grid-area: title;
  display: grid;
  align-items: end;
}
.astrodescription{
  animation: fade 1s linear;
  padding: 0px 30px;
  font-size: 16px;
  grid-area: description;
  display: grid;
  align-items: center;
}
.astrobutton{
  position: absolute;
  bottom: 30px;
}
.left{
  left: 30px;
}
.right{
  right: 30px;
}
.darkpage .big{
  animation: shrink 1.5s linear;
}
.darkpage .small, .darkpage .astrodescription{
  opacity: 0;
}
@keyframes shrink{
  0%{
    position: relative;
    right: 0px;
    transform: scale(1);
  }
  100%{
    position: relative;
    transform: scale(0.4);
    right: 200px;
  }
}